
@font-face {
    font-family: "Tommy";
    src: url("../assets/fonts/TOMMY.otf");
}


@font-face {
    font-family: "righteous";
    src: url("../assets/fonts/Righteous-Regular.ttf");
}


@font-face {
    font-family: "roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto bold";
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}

a, h1, h2, h3, h4 { 
    font-family: "Tommy" !important;
    border: none; 
};



p {
    font-family: "roboto";
    border: none;
}

.title{
    font-family: 'roboto bold' !important;
    font-size: 300%;
}


body{
    background-color: #ffffff;
}

.container2{
    margin-bottom: 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: linear-gradient(180deg, #5252D4 0%, #9393D7 100%);
}

.centroLogin {
    position: relative;
    height: 80vh;
    width: 90vh;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 13px -4px rgba(77,77,77,1);
}

.center{
    margin-top: 20px;
    border: 1px #cdcdcd solid;
    border-radius: 10px;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.centroLogin img{
    width: 20%;
    margin-top: 40px;   
}
.formdata{
    margin-top: 4%;
    padding: 8%;
}
form .form-control{
    margin-top: 8px;
    height: 8vh;
}

.select{
    width: 100%;
    border: none;
    font-size: 20px;
    text-align: center; /* para firefox */
    text-align-last: center; /* para chrome */
}

.btnheader{
    background-color: #5252d4 !important;
    height: 30px !important;
    margin: auto !important;
    color: #fff !important;
    text-decoration: none;
    border-radius: 80px !important;
    size: 12px;
    font-family: "Tommy" ;
    margin-right: 30px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}


.btnstart{
    background-color: #5252d4 !important;
    height: 8vh !important;
    margin: auto !important;
    color: #fff !important;
    text-decoration: none;
    border-radius: 80px !important;
    size: 12px;
    font-family: "Tommy" ;
    margin-right: 30px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    
}

form .btn{
    background-color: #5252d4 !important;
    width: 100%;
    height: 8vh;
    margin: auto;
    margin-top: 4%;
    color: #ffffff;
    border-radius: 40px;
    size: 10px;
    font-family: "Tommy" ;
}

.float-botao{
    position: absolute !important;
    right:    0;
    bottom:   0;
    z-index: 10 !important;
    height: 60px;
    width: 60px;
    margin: 20px;
    border: none;
    border-radius: 60px;
    background-color: #5252d4 !important;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.25);
    font-family: "Tommy";
    color: #ffffff;
    font-size: 30px;
    
}
.type{
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    
}
.card{
    margin: 0 !important;
    float: left;
    border: none !important;
}

.modal{
    border-radius: 20px;
}

.space{
    margin-bottom: 30px;
    margin-top: 30px;
}

@media screen and (max-width: 992px) {
    .centroLogin {
        height: 80%;
        width: 90%;
        
    }
    
    .icon{
        width: 10% !important;
    }
    
    .title{
        font-size: 220% !important;
        margin-top: 60px !important;
    }
}